<div class="row">


  <!-- using for chart -->
  <div class="col-md-7">
    <!-- make this main card inside which everything else lies -->
    <div class="card text-center">
      <div class="card-header">
        <ul class="nav nav-pills card-header-pills">
          <li class="nav-item">
            <a class="nav-link active" href="#">Active</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
        </ul>
      </div>
      <div class="card-body">
        <!-- row 1 card -->
        <div class="level-title">Level 1</div>
        <div class="vertical-divider"></div>
        <div class="d-flex justify-content-center">
          <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
            <div class="card-header">Header</div>
            <div class="card-body">
              <h5 class="card-title">Primary card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.
              </p>
            </div>
          </div>
        </div>
        <!-- row 1 ends here -->

        <div class="vertical-divider"></div>
        <!-- add the image you want here -->
        
        <!-- end image -->
        <div class="vertical-divider"></div>
        <!-- row 2 starts here-->
        <div class="topic-connector-2"></div>
        <div class="card-deck">
          <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
            <div class="card-header">Header</div>
            <div class="card-body">
              <h5 class="card-title">Primary card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.
              </p>
            </div>
          </div>
          <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
            <div class="card-header">Header</div>
            <div class="card-body">
              <h5 class="card-title">Primary card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.
              </p>
            </div>
          </div>
        </div>
        <div class="topic-connector-2-bottom"></div>
        <!-- insert image here -->
        <div class="vertical-divider"></div>
        <div class="topic-connector-2"></div>
        
        <!-- row 2 ends here -->


        <!-- row 3 starts -->
        <div class="card-deck">
          <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
            <div class="card-header">Header</div>
            <div class="card-body">
              <h5 class="card-title">Primary card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.
              </p>
            </div>
          </div>
          <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
            <div class="card-header">Header</div>
            <div class="card-body">
              <h5 class="card-title">Primary card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.
              </p>
            </div>
          </div>
        </div>
        <!-- row 3 ends -->



        <div class="topic-connector-2-bottom"></div>
        <!-- insert image here -->
        <div class="vertical-divider"></div>
        
        <div class="topic-connector-2"></div>
        <!-- row 4 starts -->
        <div class="card-deck">
          <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
            <div class="card-header">Header</div>
            <div class="card-body">
              <h5 class="card-title">Primary card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.
              </p>
            </div>
          </div>
          <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
            <div class="card-header">Header</div>
            <div class="card-body">
              <h5 class="card-title">Primary card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.
              </p>
            </div>
          </div>
        </div>
        <!-- row 4 ends -->
      </div>


      <div class="topic-connector-2-bottom"></div>
      <!-- insert image here -->
      <div class="vertical-divider"></div>
      <!-- last row starts -->
      <div class="d-flex justify-content-center">
        <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
          <div class="card-header">Header</div>
          <div class="card-body">
            <h5 class="card-title">Primary card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
            </p>
          </div>
        </div>
      </div>
      <!-- last row ends -->
    </div>
    <!-- main card ends here -->
  </div>
  <!-- using for signin and signup -->
  <div class="col-md-5">
    This has login and signup options
  </div>
</div>